build/
build32/
build64/
msvc-wine/
bin/
*.exe
*.dll
*.pdb
*.obj
*.o
*.a
*.lib
*.exp
*.ilk
*.suo
.vs/
*.user
*.db
*.log
dump_*.asm
memdumps/
*.ncb
*.sdf
*.opensdf
ipch/
x64/
Debug/
Release/
