[cmake]
version = "3.15"
cmkr-include = "cmake/cmkr.cmake"

[options]
X64DBG_BUILD_IN_TREE = true
X64DBG_RELEASE = false

[variables]
CMAKE_MODULE_PATH = "${CMAKE_SOURCE_DIR}/cmake"

[project]
name = "x64dbg"
description = "An open-source x64/x32 debugger for windows."
msvc-runtime = "dynamic"
include-before = [
    "cmake/VSToolchain.cmake"
]
include-after = [
    "cmake/VSFlags.cmake",
]

[conditions]
x86 = "CMAKE_SIZEOF_VOID_P EQUAL 4"
x64 = "CMAKE_SIZEOF_VOID_P EQUAL 8"

# [find-package]
# Qt5 = { components = ["Widgets", "WinExtras"] }

[subdir."src/zydis_wrapper"]
# [subdir."src/gui/Src/ThirdPartyLibs/md4c"]

[target.bridge]
type = "shared"
sources = [
    "src/bridge/*.cpp",
    "src/bridge/*.c",
    "src/bridge/*.h",
]
private-compile-definitions = [
    "BUILD_BRIDGE",
]

[target.bridge.properties]
PREFIX = ""
x86.OUTPUT_NAME = "x32bridge"
x64.OUTPUT_NAME = "x64bridge"

[target.btparser]
type = "static"
sources = [
    "src/dbg/btparser/btparser/lexer.cpp",
    "src/dbg/btparser/btparser/helpers.h",
    "src/dbg/btparser/btparser/keywords.h",
    "src/dbg/btparser/btparser/lexer.h",
    "src/dbg/btparser/btparser/operators.h",
    "src/dbg/btparser/btparser/parser.h",
    "src/dbg/btparser/btparser/testfiles.h",
]
include-directories = [
    "src/dbg/btparser",
]
clang-any.compile-options = ["-Wno-self-assign-field"]

[target.dbg]
type = "shared"
sources = [
    "src/dbg/*.cpp",
    "src/dbg/*.h",
    "src/dbg/analysis/*.cpp",
    "src/dbg/analysis/*.h",
    "src/dbg/commands/*.cpp",
    "src/dbg/commands/*.h",
    "src/dbg/DeviceNameResolver/*.h",
    "src/dbg/jansson/*.h",
    "src/dbg/lz4/*.h",
    "src/dbg/msdia/*.cpp",
    "src/dbg/msdia/*.h",
    "src/dbg/ntdll/*.h",
    "src/dbg/TitanEngine/*.h",
    "src/dbg/WinInet-Downloader/*.cpp",
    "src/dbg/WinInet-Downloader/*.h",
    "src/dbg/XEDParse/*.h",
]
private-link-libraries = [
    "::zydis_wrapper",
    "::bridge",
    "::btparser",
    "Psapi",
    "Shlwapi",
    "Ws2_32",
    "Wininet",
    "Iphlpapi",
]
x86.private-link-libraries = [
    "src/dbg/dbghelp/dbghelp_x86.lib",
    "src/dbg/DeviceNameResolver/DeviceNameResolver_x86.lib",
    "src/dbg/jansson/jansson_x86.lib",
    "src/dbg/lz4/lz4_x86.lib",
    "src/dbg/ntdll/ntdll_x86.lib",
    "src/dbg/TitanEngine/TitanEngine_x86.lib",
    "src/dbg/XEDParse/XEDParse_x86.lib",
    "src/dbg/LLVMDemangle/LLVMDemangle_x86.lib",
]
x64.private-link-libraries = [
    "src/dbg/dbghelp/dbghelp_x64.lib",
    "src/dbg/DeviceNameResolver/DeviceNameResolver_x64.lib",
    "src/dbg/jansson/jansson_x64.lib",
    "src/dbg/lz4/lz4_x64.lib",
    "src/dbg/ntdll/ntdll_x64.lib",
    "src/dbg/TitanEngine/TitanEngine_x64.lib",
    "src/dbg/XEDParse/XEDParse_x64.lib",
    "src/dbg/LLVMDemangle/LLVMDemangle_x64.lib",
]
private-compile-definitions = [
    "BUILD_DBG",
    "NOMINMAX",
]
private-include-directories = [
    "src/dbg",
    "src/dbg/analysis",
    "src/dbg/commands",
]
gcc.compile-options = ["-mbmi", "-mlzcnt", "-mpopcnt"]
clang.compile-options = ["-mbmi", "-mlzcnt", "-mpopcnt"]
msvc.link-options = [
    "/DELAYLOAD:TitanEngine.dll",
]
msvc.link-libraries = [
    "Delayimp",
]

[target.dbg.properties]
PREFIX = ""
x86.OUTPUT_NAME = "x32dbg"
x64.OUTPUT_NAME = "x64dbg"

[target.loaddll]
type = "executable"
msvc-runtime = "static"
sources = [
    "src/loaddll/loaddll.cpp",
]
x86.link-libraries = [
    "src/dbg/ntdll/ntdll_x86.lib",
]
x64.link-libraries = [
    "src/dbg/ntdll/ntdll_x64.lib",
]
msvc.link-options = [
    "/DELAYLOAD:user32.dll",
]
msvc.link-libraries = [
    "Delayimp",
]

[target.loaddll.properties]
WIN32_EXECUTABLE = "ON"

[target.headless]
type = "executable"
sources = [
    "src/headless/*.cpp",
    "src/headless/*.h",
]
link-libraries = [
    "::bridge",
]
private-compile-definitions = [
    "NOMINMAX",
    "WIN32_LEAN_AND_MEAN",
]
msvc.link-options = [
    "/DEF:${CMAKE_SOURCE_DIR}/src/exe/signaturecheck.def",
]
